docs/n8n.json
{
    "name": "HMNP - Generate Blog Draft and Post (HTTP OpenAI)",
    "nodes": [
      {
        "parameters": {},
        "id": "ManualTrigger",
        "name": "Manual Trigger",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [200, 300]
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              { "name": "topic", "value": "Mobile Notary for POA in La Marque" },
              { "name": "city", "value": "La Marque" },
              { "name": "tone", "value": "professional, clear, local-service oriented" }
            ],
            "stringArray": [
              { "name": "target_keywords", "values": ["mobile notary near me", "power of attorney notary", "La Marque notary"] }
            ]
          }
        },
        "id": "SetInputs",
        "name": "Set Inputs",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [420, 300]
      },
      {
        "parameters": {
          "keepOnlySet": true,
          "values": {
            "string": [
              { "name": "n8nPostsToken", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJhN2MzYzQ0Zi1jN2E3LTRkYzItYjlkMi01MjZlNmE5OGY2MWIiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzU1NjcxNzI0LCJleHAiOjE3NTgyNTQ0MDB9.gu0MaAAMbRg5qgiD7nj3waVRQzdBcLlM0_XBTBIJ_c4" },
              { "name": "openaiKey", "value": "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" }
            ]
          }
        },
        "id": "SetSecrets",
        "name": "Set Secrets",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [420, 460]
      },
      {
        "parameters": {
          "url": "https://api.openai.com/v1/chat/completions",
          "authentication": "none",
          "responseFormat": "json",
          "options": { "timeout": 30000 },
          "sendBody": true,
          "jsonBody": "={{ {\n  model: 'gpt-4o-mini',\n  temperature: 0.4,\n  messages: [\n    { role: 'system', content: 'You are a Houston mobile notary marketing writer. Output ONLY valid JSON with keys: title, excerpt, meta:{description,keywords}, body. Body must be 500–800 words in Markdown. No prose, no code fences.' },\n    { role: 'user', content: 'topic: ' + $items(\"Set Inputs\")[0].json.topic + '\\ncity: ' + $items(\"Set Inputs\")[0].json.city + '\\ntarget_keywords: ' + JSON.stringify($items(\"Set Inputs\")[0].json.target_keywords) + '\\ntone: ' + $items(\"Set Inputs\")[0].json.tone }\n  ]\n} }}",
          "headerParametersUi": {
            "parameter": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Authorization", "value": "={{ 'Bearer ' + $items(\"Set Secrets\")[0].json.openaiKey }}" }
            ]
          }
        },
        "id": "OpenAI_HTTP",
        "name": "OpenAI (HTTP Request)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [650, 300]
      },
      {
        "parameters": {
          "functionCode": "const content = $json.choices?.[0]?.message?.content ?? '';\nlet draft;\ntry { draft = JSON.parse(content); } catch (e) {\n  throw new Error('LLM did not return valid JSON. First 400 chars:\\n' + content.slice(0,400));\n}\nreturn [{ json: {\n  ...draft,\n  city: $items('Set Inputs')[0].json.city,\n  target_keywords: $items('Set Inputs')[0].json.target_keywords\n}}];"
        },
        "id": "ParseDraft",
        "name": "Parse Draft",
        "type": "n8n-nodes-base.function",
        "typeVersion": 2.2,
        "position": [870, 300]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://houstonmobilenotarypros.com/api/posts",
          "responseFormat": "json",
          "options": { "timeout": 30000 },
          "sendBody": true,
          "jsonBody": "={{ { title: $json.title, excerpt: $json.excerpt, meta: { description: $json.meta?.description, keywords: $json.meta?.keywords }, body: $json.body, city: $json.city, target_keywords: $json.target_keywords } }}",
          "headerParametersUi": {
            "parameter": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Authorization", "value": "={{ $items('Set Secrets')[0].json.n8nPostsToken }}" }
            ]
          }
        },
        "id": "PostDraft",
        "name": "POST Draft to Next.js",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [1090, 300]
      },
      {
        "parameters": {
          "fromEmail": "",
          "toEmail": "hosutonmobilenotarypros@gmail.com",
          "subject": "New Draft: ={{$json.slug}}",
          "text": "A new blog draft has been created.\\n\\nSlug: ={{$json.slug}}\\nPreview: https://houstonmobilenotarypros.com/blog/= {{$json.slug}}\\nStatus: ={{$json.status}}\\n"
        },
        "id": "EmailSend",
        "name": "Email Draft Link",
        "type": "n8n-nodes-base.emailSend",
        "typeVersion": 3,
        "position": [1310, 300],
        "credentials": {}
      }
    ],
    "connections": {
      "Manual Trigger": { "main": [[{ "node": "Set Inputs", "type": "main", "index": 0 }, { "node": "Set Secrets", "type": "main", "index": 0 }]] },
      "Set Inputs": { "main": [[{ "node": "OpenAI (HTTP Request)", "type": "main", "index": 0 }]] },
      "OpenAI (HTTP Request)": { "main": [[{ "node": "Parse Draft", "type": "main", "index": 0 }]] },
      "Parse Draft": { "main": [[{ "node": "POST Draft to Next.js", "type": "main", "index": 0 }]] },
      "POST Draft to Next.js": { "main": [[{ "node": "Email Draft Link", "type": "main", "index": 0 }]] }
    },
    "meta": { "workflowId": "hmnp-blog-draft-v1-http" }
  }